DRONESTOCK_SERVER_URL=http://203.247.41.82:8001
DRONESTOCK_DRONE_ID=5
DRONESTOCK_COMPANION_ID=jetson-drone-05
DRONESTOCK_POLL_S=0.5
DRONESTOCK_TELEMETRY_HZ=10
DRONESTOCK_DEVICE_AUTH_ID=
DRONESTOCK_DEVICE_AUTH_SECRET=
